<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>Wilderland</title>
    <!--Meta For No Index-->
    <meta name="robots" content="noindex, Nofollow, Noimageindex">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link type="text/css" rel="stylesheet" href="/assets/css/screen.css">

    <!--Favicon-->
    <link rel="shortcut icon" href="/assets/images/favIcon.png" type="image/x-icon" />
    <link rel="icon" href="/assets/images/favIcon.png" type="image/x-icon" />

    <!--Netlify Identity Widget -->
    <script src="/assets/js/identity-widget.js"></script>
    {% block uniquehead %}
    {% endblock uniquehead %}
  </head>

  <body>
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
        {% block navbar %}
          <nav class="navbar navbar-expand-lg site-navigation">
            <ul class="dropdown menu" data-dropdown-menu>
              <li><a class="nav-main" href="/">Wilderland</a></li>
              <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="main-menu"></button>
              </div>
              <div class="top-bar" id="main-menu">
                <li class="menu-item"><a class="menu-text nav" href="/communities.html">communities</a></li>
                <li class="menu-item"><a class="menu-text nav" href="/events/">events</a></li>
                <li class="menu-item"><a class="menu-text nav" href="/artists/">artists</a></li>
                <li class="menu-item"><a class="menu-text nav" href="/map.html">map</a></li>
                <li class="menu-item"><a class="menu-text nav" href="/about.html">about</a></li>
                <li class="menu-item"><a class="menu-text nav" href="/contact.html">contact</a></li>
              </div>
            </ul>
          </nav>
        {% endblock %}
        </div>
      </div>
    </div>
  
  {% block hero %}

  {% endblock %}

  {% block content %}
    {{content | safe}}
  {% endblock %}

  


  {% block footer %}

  <div id="footer">

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
            <div class="large-4 medium-4 cell">
        <p class="footer-info">Wilderland is a recipient of the Creative Climate Action fund, an initiative from the Creative Ireland Programme. The fund supports creative, cultural and artistic projects that build awareness around climate change and empower citizens to make meaningful behavioural transformations.</p>
      </div>
      <div class="large-6 medium-6 cell">
      <img class="lg-logo" src="/assets/images/CCA_Logo_Lockup_Black.png">
      </div>
      <div class="large-2 medium-2 cell">
        <ul>
          <li><a href="https://www.instagram.com/wilderland.ie/">instagram</a></li>
          <li><a href="/contact.html">contact</a></li>
          <li><a href="mailto:hello@wilderland.ie">email</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 cell">
      <img class="sm-logo" src="/assets/images/NPWSBlack.png">
    </div>
    <div class="large-2 large-offset-1 medium-2 cell">
      <img class="sm-logo" src="/assets/images/NMHeritageCentre-BW.png">
    </div>
    <div class="large-2 large-offset-1 medium-2 cell">
      <img class="sm-logo" src="/assets/images/tasc-logo-bw.png">
    </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-5 medium-5 cell">
      <img class="sm-logo" src="/assets/images/MayoArtsServiceandMayoCoCo-BW-600pxW.png">
      </div>
      <div class="large-2 large-offset-1 medium-2 cell">
      <img class="sm-logo" src="/assets/images/DarkSkyPark-logo-GY.png">
    </div>
    <div class="large-2  large-offset-1 medium-2 cell">
      <img class="sm-logo" src="/assets/images/NMHeritageCentre-BW.png">
    </div>
    </div>
  </div>
  </div>

   
  {% endblock %}

    <!-- Compressed Foundations JavaScript -->
    <script src="/assets/js/script.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', user => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = 'admin/';
            });
          }
        });
      }
    </script>
  </div>
  </body>
</html>

