{% extends "base.njk" %}



{% block content %}
<div class="grid-container" style="background-color:">
  <div class="grid-x grid-padding-x">
  <div class="body-text-header large-3 medium-3 cell">
  about WILDERLAND
  </div>
    <div class="body-text large-7 large-offset-2 medium-7 medium-offset-2 cell">
      {{content|safe}}
    </div>
  </div>
</div>


<div class="grid-container" style="background-color:">
  <div class="grid-x grid-padding-x">
    <div class="body-text-header large-3 medium-3 cell">
      {{eop_heading | markdown | safe}}
    </div>
    <div class="body-text large-7 large-offset-2 medium-7 medium-offset-2 cell">
      {{eop_body | markdown | safe}}
    </div>
  </div>
</div>

<div class="separator"></div>


<div class="grid-container" style="background-color:">
  <div class="grid-x grid-padding-x">
    <div class="body-text-header large-3 medium-3 cell">
      {{CJ_heading | markdown | safe}}
    </div>
    <div class="body-text large-7 large-offset-2 medium-7 medium-offset-2 cell">
      {{CJ_body | markdown | safe}}
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="grid-container" style="background-color:">
  <div class="grid-x grid-padding-x">
    <div class="body-text-header large-3 medium-3 cell">
      {{PC_heading | markdown | safe}}
    </div>
    <div class="body-text large-7 large-offset-2 medium-7 medium-offset-2 cell">
      {{PC_body | markdown | safe}}
    </div>
  </div>
</div>

{% endblock %}