{% extends "base.njk" %}

{% block content %}
            <div class="grid-x grid-padding-x artist-container">
                <div class="large-6 medium-6 cell artist-info">
                <h2>{{title}} {{lastname}}</h2>
                {{practice}}
                {% if email %}<a href="mailto:{{email}}">{{email}}</a>{% endif %}
                {% for link in socialmedialinks %}
                <br><a href="{{link.onlinelink}}" target="_blank">{{link.nameoflink}}</a>
                {% endfor %}
                </div>

                <div class="large-6 medium-6 cell">
                <div class=" artist-profile-image" style="background-image: url('/{{photo}}')"></div>
                </div>
                <div class="large-12 cell artist-row"></div>
                <div class="large-6 medium-6 cell">
                        <h3>Biography</h3>
                </div>
                <div class="large-6 medium-6 cell">
                        {{bio }}
                </div>
                
                {% if content %}
                <div class="large-12 cell artist-row"></div>
				    <div class="large-6 medium-6 cell">
                        <h3>Further information</h3>
                    </div>
                	<div class="large-6 medium-6 cell">
                        {{content | markdown | safe}}
                	</div>
                	
                {% endif %}
				{% if artistimages %}
	            <div class="large-12 cell artist-row"></div>
					<div class="large-12 medium-12 cell">
                        <h3>Images</h3>
    	            </div>
                {% for image in artistimages %}
                        <div class="large-2 medium-2 cell">
                        <img class="artist-gallery-image" src=/{{image.image}} title="{{image.imagetitle}}">
                        </div>
                {% endfor %}
				{% endif %}

        </div>
{% endblock %}