{% extends "base.njk" %}



{% block content %}

<div class="homepage_strip" style="background-image: url('/{{communities_image}} ');"></div>

<div class="grid-container" style="background-color:">
  <div class="grid-x grid-padding-x">
    <div class="body-text-header large-3 medium-3 cell">
      {{communities_heading | markdown | safe}}
    </div>
    <div class="body-text large-7 large-offset-2 medium-7 medium-offset-2 cell">
      {{communities_body | markdown | safe}}
    </div>
  </div>
</div>

{% endblock %}