{% extends "base.njk" %}

{% block content %}
<div class="grid-container event-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
                <h3 class="event-title">{{title}}</h3>
        </div>
        <div class="large-8 large-offset-2 cell event-content-area">
        <div class="event-content">{{content|safe}}</div>
        </div>
    </div>
    </div>
</div>    
{% endblock %}