{% extends "base.njk" %}

{% block content %}
<div class="grid-container event-container">
    <div class="grid-x grid-padding-x">
        <div class="large-6 cell">
                <img class="event-thumbnail" src="/{{thumbnail}}">
        </div>
        <div class="large-6 cell">
        <h6 class="overhang-title">event</h6>
                <h3 class="event-title">{{title}}</h3>
        {% if enddate is defined %}
              <span class="date"><b>from:</b> {{date | date('hh:mm A - D MMM, YYYY')}}</span>
            <br><br><span class="date"><b>to:</b> {{enddate | date('hh:mm A - D MMM, YYYY')}}</span>
              {% else %}
              <span class="date">{{date | date('hh:mm A - D MMM, YYYY')}}</span>
        {% endif %}
        <div class="event-content">{{content|safe}}</div>
        </div>
        <div class="large-8 large-offset-2 cell event-content-area">
        
        </div>
        <hr>
    </div>
    </div>
</div>    
{% endblock %}