{% extends "base.njk" %}

{% block hero %}
{% set hero = heroimage %}
<div class="hero-container" style="background-image: url('{{hero}}')">
    <div class=show-for-small-only large-6 medium-6 cell hero-mobile-alt">
        <img src="{{hero}}">
    </div>  
    <div class="grid-x grid-padding-x">
      <div class="intro-text large-6 large-offset-6 medium-6 medium-offset-6 cell" style="background-color:{{intro_color}}">
        <p class="">{{intro | markdown | safe}}</p>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="body-text-header large-3 medium-3 cell">
        {{ text_heading | markdown | safe }}
      </div>
      <div class="body-text large-7 large-offset-2 medium-7 medium-offset-2 cell">
        {{content | markdown | safe }}
      </div>
    </div>
  </div>


<div id="dynamic-content-section" style="background-color:{{dynamic_section_color}}">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 cell">
      <h4 class="project-sect-title">Upcoming & Ongoing</h4>
    </div>
      {% for event in collections.events %} 
        <div class="large-6 medium-6 cell home-event">
          <a href="{{event.url}}">
            <div class="event-img-container" style="background-image: url('{{event.data.thumbnail}}')">
              {% if event.data.enddate is defined %}
              <span class="date">from: {{event.data.date | date('hh:mm A - D MMM, YYYY')}} to: {{event.data.enddate | date('hh:mm A - D MMM, YYYY')}}</span>
              {% else %}
              <span class="date">{{event.data.date | date('hh:mm A - D MMM, YYYY')}}</span>
              {% endif %}
              <h5>{{event.data.title}}</h5>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="grid-container" style="background-color:{{sus_arts_section_color}}">
  <div class="grid-x grid-padding-x">
    <div class="body-text-header medium-3 cell">
      {{sus_arts_heading | markdown | safe}}
    </div>
    <div class="body-text large-7 large-offset-2 medium-7 medium-offset-2 cell">
      {{sus_arts_body | markdown | safe}}
    </div>
  </div>
</div>

<!-- <div id="dynamic-content-section" style="background-color:{{dynamic_section_color}}">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 cell">
      <br><br>
      <h4 class="project-sect-title">Artists</h4>
    </div>
      {% for artist in collections.artist | sort(attribute="data.lastname") %}
        <div class="large-2 medium-2 artist-home cell">
        <a href={{artist.url}}>
          <div class="home-artist-profile-photo" style="background-image: url('/{{artist.data.photo}}')"></div>
        </a>
        <a href={{artist.url}}>{{artist.data.title}} {{artist.data.lastname}}<br></a>
        <a href={{artist.url}}><span class="mono">{{artist.data.practice}}</span><br></a>

        </div>
      {% endfor %}
  </div>
</div>
</div> -->


<div class="homepage_strip" style="background-image: url('/{{homepage_strip}} ');"></div>

{% endblock %}
