{% extends "base.njk" %}

{% block uniquehead %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

     <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
     <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

{% endblock %}

{% block content %}
{% for item in locations %}
{% endfor %}
<div class="grid-x grid-padding-x">
        <div class="large-9 medium-9 cell">
                <div id="map"></div>
        </div>
        <div class="large-3 medium-3 cell map-info">
                <p><b>pointname:</b> <br><span id="pointname">(click on map point for information)</span></p>
                <img id="pointimage" src="">
                <p><b>map point notes:</b> <br><span id="notes"></span></p>
        </div>
</div>

<script>
    let pointname = document.getElementById("pointname");
    let pointimage = document.getElementById("pointimage");
    let pointnotes = document.getElementById("notes");
    var map = L.map('map').setView([54.0630, -9.6432], 10);
    L.tileLayer('https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png?apikey=ac21d34c31f948ca8b066614ab4b54ff', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    map.addControl(new L.Control.Fullscreen());

    {% for location in locations %}
        function fillCtxBar{{loop.index}}(){
            pointname.innerHTML = "{{location.name}}";
            pointnotes.innerHTML = "{{location.notes}}";
            pointimage.src = "/" + "{{location.photo}}";
        }

        // Function to style GeoJSON features
        function styleFeature(feature) {
            console.log('Feature:', feature);
            if (!feature.geometry) {
                console.error('Feature does not have a geometry property:', feature);
                return {};
            }
            switch (feature.geometry.type) {
                case 'Point':
                    return { color: 'blue', radius: 8 };
                case 'MultiLineString':
                    return { color: 'brown', weight: 1, dashArray: '5, 5' };
                case 'MultiPolygon':
                    return { color: 'green', weight: 2 };
                default:
                    return { color: 'black' };
            }
        }

        var point{{loop.index}} = L.geoJSON({{location.position|safe}}, {
            style: styleFeature,
            onEachFeature: function (feature, layer) {
                layer.on('click', fillCtxBar{{loop.index}});
                layer.bindPopup("{{location.name}}").openPopup();
            },
            pointToLayer: function (feature, latlng) {
                return L.circleMarker(latlng, styleFeature(feature));
            }
        }).addTo(map);
    {% endfor %}
</script>



{% endblock %}