---
permalink: /artists/
title: index
---

{% extends "base.njk" %}

{% block content %}
<div class="grid-container event-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h4 class="event-title">participating artists</h4>
        </div>

        {% for artist in collections.artist %}
            <div class="large-4 medium-4 cell event-index-unit">
            <a href="{{artist.url}}">
                <img class="event-index-thumb" src="/{{artist.data.photo}}"
                <h4 class="event-index-unit-title">{{ artist.data.title }} {{ artist.data.lastname }}</h4>
                <p>{{ artist.data.practice  }}</p>
            </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}