---
permalink: /events/
title: index
---

{% extends "base.njk" %}

{% block content %}
<div class="grid-container event-container">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h3 class="event-title">Events</h3>
        </div>

        {% for event in collections.events | reverse %}
        <div class="large-4 medium-4 cell event-index-unit">
            <a href="{{event.url}}">
                <img class="event-index-thumb" src="/{{event.data.thumbnail}}">
                <span class="date">{{event.data.date | date('D MMM YYYY')}}</span>
                <h4 class="event-index-unit-title">{{ event.data.title }}</h4>
                <p>{{ event.data.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}